<h1>@title</h1>
<h3>@subTitle</h3>
<p>@description</p>

@code{

    [Parameter]
    public string title {get;set;}

      [Parameter]
    public string  subTitle {get;set;}

      [Parameter]
    public string description {get;set;}



}