<img src="@imgUrl" alt="Nasa APOD" />
<p><a href="@hdUrl">HD Image Link</a></p>
<p>Copyrights-@copyright</p>

@code{

 [Parameter]
    public string imgUrl {get;set;}

     [Parameter]
    public string hdUrl {get;set;}

     [Parameter]
    public string copyright {get;set;}


}