@page "/"

<PageTitle>Index</PageTitle>

<h1>Welcome To Travel Blog!</h1>

Welcome to your new app.

<SurveyPrompt Title="If you are planning for a vacation and need best getaway, I have a recommendation for you and it is non other than Rocky mountain national Park or simply Rockies. Rockies offers stunning views and high elevation drives that you can find no where in the United states. 
The park has two entrances which are both connected by trail ridge road." />


<footer>
The End
</footer>